
body {
    font-family: sans-serif;
}

#highscore {
    display: inline;
    color: purple;
    background-color: white;
}

.time,
#clock {
    float: right;
}

.container {
    margin: auto;
    width: 40%;
}

h1 {
    text-align: center;
    padding-top: 50px;
}

h2 {
    padding-top: 50px;
}


button {
    padding: 10px;
    background-color: purple;
    color: white;
    margin-bottom: 2px;
    display: list-item;
}

#start {
    margin: 0 auto;
    display: block;
}

p {
    text-align: center;
}